* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
html, body, div {
}
body {
	XXXbackground-color: #6A3A7D;
	background-color: #999;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	display: inline-block;
	margin: 1px 0 5px 0;
	font-family: 'Planer-Regular', sans-serif;
	color: #3a2e81;
	color: #777;

}
h1 {
	font-size: 23pt;
}
h3 {
	font-size: 30pt;
}
h4 {
	font-size: 25pt;
}
button {
	padding: 5px 10px;
	background-color: purple;
	border-radius: 3px;
	border: 1px solid black;
	color: white;
	font-size: 14pt;
	font-family: 'Planer-Regular', sans-serif;
	letter-spacing: 1px;
}
td {
	vertical-align: top;
}
/* =Color -------------------------------------------------------------- */
#header {
	XXXbackground: #cccccc;
}
#main {
	XXXbackground: #dddddd;
}
#sponsorLogosWrapper {
	XXXborder: 1px dotted silver;
	XXXbackground-color: white;
	XXXtext-align: center;
}
#sponsorLogosWrapper img {
	width: 13%;
	min-width: 100px;
	vertical-align: middle;
	margin: 0 6px 0 0;
}
/* =Structures -------------------------------------------------------------- */
#header .contentSectionWrapper {
	background-color: #3a2e81;
	/*
	XXXbackground: #3a2e81 url("../img/logoRoboCatsLarge.png?fds") no-repeat 10px 5px;
	XXXbackground-size: 100px auto;
	XXXbackground: #3a2e81 url(../img/heroTeamFirstSign.png) no-repeat 0px -55px;
	*/
	background: #3a2e81 url(../img/heroTeamHouston_high.png) no-repeat 0px -25px;
	background-size: 1100px auto;
	min-height: 445px;
	color: white;
	position: relative;
}
#header .contentSectionWrapper a {
	color: white;
}
.contentSectionWrapper {
	max-width: 1100px;
	min-width: 800px;
	margin: 0 auto;
	padding: 1em;
	XXXborder: 1px dotted orange;
	XXXbackground-color: rgba(255,255,255,.5);
	background-color: white;
	border-top: 1px solid silver;
}
#primary {
	/*
	max-width: 650px;
	margin: 0 auto;
	max-width: 650px;
	*/
   margin: 0 0 0 125px;
}
#branding {
	padding: 13px 0 0 125px;
}
.site-title a {
	font-size: 40pt;
   letter-spacing: -1px;
	font-family: 'Planer-Regular', sans-serif;
}
