* {
	font-family: sans-serif;
}
wikiFormat {
	white-space: pre;
}
#navigator {
	width: 99%;
	XXXborder: 1px dotted orange;
}
#navigator div[id^="nav"] {
	width: 49%;
	XXXborder: 1px dotted red;
	display: inline-block;
}
#navigator #navNext {
	text-align: right;
}
#navigator div[id^="nav"] span {
	color: silver;
}
#header .contentSectionWrapper {
	background: #3a2e81 url(../img/heroTeamAll.jpg) no-repeat 0px -25px;
	background-size: 1100px auto;
}
